.aboutme {
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
    
}


.aboutme h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
    white-space: nowrap;
}


.aboutme [id="1"] {
    
    grid-column: 11/13;
    grid-row: 2;
    align-self:center;
    justify-self: center; 
    
}

.aboutme [id="2"]{
    grid-column: 2/12;
    grid-row: 7;
    align-self:center;
    justify-self: center; 

    font-weight: 300;
    font-style: normal;
    font-size: 1.5vw;
}



.aboutme [id="3"]{
    grid-column: 2/12;
    grid-row: 8;
    align-self:center;
    justify-self: center; 

    font-weight: 300;
    font-style: normal;
    font-size: 1.5vw;
}


.aboutme [id="4"] { 
    grid-column: 11/13;
    grid-row: 13;
    align-self:center;
    justify-self: center; 
}



