.aboutme {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vw;
}

.aboutme h1 {
    grid-column: 2/7;
    grid-row: 2;
    align-self: flex-end;
    justify-self: center; 

    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 6vw;
}


.aboutme p {

    grid-column: 7/12;
    grid-row: 2;
    align-self:center;
    justify-self: center; 

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5vw;


}