html {
    scroll-behavior: smooth;
    color: #0F0F0F;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: none;
}

.container {
    height: 8640px;
    width: 100vw; 
    background-color: #E5E5E5;
    padding-top: 0%;
}

.wrapper {
    display: grid;
    grid-template-rows: repeat(8, 100vh); /* Divide el contenedor en cinco filas, cada una con 100vh de altura */
}

/* canvas {
    position: absolute;
    background-color: aqua;
    bottom: 5px;
} */

::-webkit-scrollbar {
    display: none;
}

