/*Este grid triguerea el cambio del background*/
.aux-grid {
    grid-row: 9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    width: 100vw;
    height: 100vh;
}

.contactme {
    grid-row: 10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    width: 100vw;
    height: 100vh;
}

.contactme {

    h1 {

        display: flex;
        align-items: bottom;
        justify-content: space-between;

        grid-row: 3;
        grid-column: 4/10;

        color: #E5E5E5;
        font-size: 5em;

    }
    h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        grid-row: 7;
        grid-column: 10/12;

        color: #E5E5E5;
        font-size: 5em;

    }
}

.contactme a.linkedin {
    grid-column: 2;
    grid-row: 7;
    
    align-items: center;
    display: inline-block; 
    width: fit-content; 

    margin-left:60%;
    margin-top: 10%;
}

.contactme a.github {
    grid-row: 7;
    grid-column: 4/5;

    align-items: center;
    display: inline-block; 
    width: fit-content; 

    margin-top: 10%;
}


.contactme a  {
    color: #E5E5E5;
}

