
.cursor-dot {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%); 
    z-index: 1;
}


.cursor-outline {
    width: 30px;
    height: 30px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; 
    pointer-events: none;
    mix-blend-mode: difference;
}




.home .title:hover + .cursor-outline .cursor-dot {
    transform: scale(5) translate(-50%, -50%);
}