.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vw;
}

/* Todas las etiquetas dentro de la clase .home */
.home * { 
    grid-row: 3;
    color: #06191D;

}


.home h1 {
    grid-column: 3/11;

    align-self: flex-end;
    justify-self: center; 

    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 6vw;
}

.home h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw;
}


.home .sub-title-1 {
    margin-left: 0.5vw;
    margin-top: 0.5vh;
    grid-column: 3/6;
    align-self: flex-sart ;
    justify-self: center; 
}   

.home .sub-title-2 {
    margin-right: 2%;
    grid-column: 8/12;
    align-self:flex-end ;
    justify-self: left; 
}

.cursor{
    position: fixed;
    height: 30px;
    width: 30px;
    position: fixed;
    transition: transform 0.2s ease;
    border: 5px ,solid, #06191D ;
    border-radius: 50%;
    transform-origin: center center;
    mix-blend-mode:difference;
    pointer-events: none;
    z-index: 1;
}


h1 :hover ~ .cursor-dot {
    transform: scale(5);
    transform: translate(-50%,-50%);
}