.myprojects {
    grid-row: 5;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;

}



